ai-helpdesk.json
{
  "name": "AI Helpdesk - BuildAI Support Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "",
          "subject": "",
          "readStatus": "unread"
        },
        "format": "simple",
        "options": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger - New Support Emails",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract email details and prepare for AI processing\nconst inputData = $input.first().json;\n\n// Safely extract sender name from email address\nlet senderName = 'Customer';\nif (inputData.from && typeof inputData.from === 'string') {\n  if (inputData.from.includes('<')) {\n    senderName = inputData.from.split('<')[0].trim().replace(/\"/g, '');\n  } else {\n    senderName = inputData.from.split('@')[0];\n  }\n} else if (inputData.sender && typeof inputData.sender === 'string') {\n  senderName = inputData.sender.split('@')[0];\n}\n\nconst emailData = {\n  from: inputData.from || inputData.sender || 'unknown@email.com',\n  to: inputData.to || inputData.recipient || '',\n  subject: inputData.subject || 'No Subject',\n  body: inputData.textPlain || inputData.textHtml || inputData.body || inputData.snippet || '',\n  messageId: inputData.id || inputData.messageId || 'no-id',\n  timestamp: new Date().toISOString(),\n  senderName: senderName\n};\n\n// Clean the email body for AI processing\nlet cleanBody = emailData.body\n  .replace(/\\n\\s*\\n/g, '\\n')  // Remove multiple line breaks\n  .replace(/^On .* wrote:$/gm, '')  // Remove email thread headers\n  .replace(/^>.*$/gm, '')  // Remove quoted text\n  .trim();\n\n// Check for escalation keywords\nconst escalationKeywords = ($vars.ESCALATION_KEYWORDS || 'project,custom,quote').toLowerCase().split(',');\nconst shouldEscalate = escalationKeywords.some(keyword => \n  cleanBody.toLowerCase().includes(keyword.trim()) ||\n  emailData.subject.toLowerCase().includes(keyword.trim())\n);\n\nreturn {\n  json: {\n    ...emailData,\n    cleanBody,\n    shouldEscalate,\n    escalationReason: shouldEscalate ? 'Contains escalation keywords' : null\n  }\n};"
      },
      "id": "parse-email",
      "name": "Parse & Analyze Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "escalation-check",
              "leftValue": "={{ $json.shouldEscalate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "escalation-router",
      "name": "Escalation Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "requestOptions": {
          "request": {
            "headers": {
              "Authorization": "Bearer {{ $vars.OPENAI_API_KEY }}"
            }
          }
        },
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional customer support agent for {{ $vars.COMPANY_NAME }}, an AI automation consultancy ({{ $vars.COMPANY_WEBSITE }}). We help businesses automate processes using tools like Make, n8n, Zapier, and AI APIs.\n\nGuidelines:\n- Be professional but friendly\n- Keep responses concise (under 150 words)\n- Always include your name as 'AI Assistant from {{ $vars.COMPANY_NAME }}'\n- For project requests, custom work, or complex technical questions, say you'll escalate to a human consultant\n- Include relevant links to the website when helpful\n- End with 'Best regards, AI Assistant from {{ $vars.COMPANY_NAME }}'\n\nBusiness hours: {{ $vars.SUPPORT_HOURS }}"
            },
            {
              "role": "user",
              "content": "Customer Email Subject: {{ $json.subject }}\n\nCustomer Message:\n{{ $json.cleanBody }}\n\nPlease draft a helpful response to this customer inquiry."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "ai-response",
      "name": "Generate AI Response",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [900, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-variable",
          "name": "OpenAI API Key Variable"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "{{ $json.from }}",
        "subject": "Re: {{ $json.subject }}",
        "emailType": "text",
        "message": "Hi {{ $json.senderName }},\n\nThank you for contacting {{ $vars.COMPANY_NAME }}!\n\n{{ $json.choices[0].message.content }}\n\nIf you have any other questions, feel free to reach out.\n\nBest regards,\nAI Assistant\n{{ $vars.COMPANY_NAME }}\n{{ $vars.COMPANY_WEBSITE }}\n\n---\nThis response was generated by our AI assistant. For complex inquiries, a human consultant will follow up within 24 hours.",
        "options": {
          "ccList": "",
          "bccList": "",
          "replyTo": "{{ $vars.SUPPORT_EMAIL }}",
          "priority": "normal"
        }
      },
      "id": "send-ai-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "{{ $vars.ESCALATION_EMAIL }}",
        "subject": "[ESCALATED] Support Ticket: {{ $json.subject }}",
        "emailType": "html",
        "message": "<h3>Support Ticket Requires Human Attention</h3>\n\n<p><strong>From:</strong> {{ $json.from }}</p>\n<p><strong>Subject:</strong> {{ $json.subject }}</p>\n<p><strong>Escalation Reason:</strong> {{ $json.escalationReason }}</p>\n<p><strong>Received:</strong> {{ $json.timestamp }}</p>\n\n<h4>Original Message:</h4>\n<div style=\"background: #f5f5f5; padding: 15px; border-left: 3px solid #007cba;\">\n{{ $json.cleanBody }}\n</div>\n\n<p><em>Please respond to the customer directly at {{ $json.from }}</em></p>",
        "options": {
          "replyTo": "{{ $vars.SUPPORT_EMAIL }}",
          "priority": "high"
        }
      },
      "id": "escalate-to-human",
      "name": "Escalate to Human",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "{{ $json.from }}",
        "subject": "Re: {{ $json.subject }}",
        "emailType": "text",
        "message": "Hi {{ $json.senderName }},\n\nThank you for contacting {{ $vars.COMPANY_NAME }}!\n\nI've received your message and it requires attention from one of our consultants. A team member will review your inquiry and respond within 24 hours during business hours ({{ $vars.SUPPORT_HOURS }}).\n\nWe appreciate your patience and look forward to helping you with your AI automation needs.\n\nBest regards,\nAI Assistant\n{{ $vars.COMPANY_NAME }}\n{{ $vars.COMPANY_WEBSITE }}",
        "options": {
          "replyTo": "{{ $vars.SUPPORT_EMAIL }}",
          "priority": "normal"
        }
      },
      "id": "send-escalation-reply",
      "name": "Send Escalation Acknowledgment",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.LOG_SPREADSHEET_ID }}"
        },
        "sheetName": "={{ $vars.LOG_SHEET_NAME }}",
        "options": {
          "useAppend": true
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "From": "={{ $json.from }}",
            "Subject": "={{ $json.subject }}",
            "Message": "={{ $json.cleanBody.substring(0, 500) }}...",
            "Escalated": "={{ $json.shouldEscalate ? 'Yes' : 'No' }}",
            "Response Type": "={{ $json.shouldEscalate ? 'Human Escalation' : 'AI Reply' }}",
            "Message ID": "={{ $json.messageId }}"
          },
          "matchingColumns": [],
          "schema": []
        }
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1340, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "unit": "hours",
        "amount": 24
      },
      "id": "wait-feedback",
      "name": "Wait 24 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.from }}",
        "subject": "How was our support? Quick feedback for {{ $vars.COMPANY_NAME }}",
        "emailType": "html",
        "message": "<p>Hi {{ $json.senderName }},</p>\n\n<p>We hope our recent support response was helpful! We're always working to improve our service.</p>\n\n<p>Could you take 10 seconds to let us know how we did?</p>\n\n<p style=\"text-align: center; margin: 20px 0;\">\n  <a href=\"mailto:{{ $vars.SUPPORT_EMAIL }}?subject=Feedback: Great!\" style=\"background: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin: 0 5px;\">😊 Great!</a>\n  <a href=\"mailto:{{ $vars.SUPPORT_EMAIL }}?subject=Feedback: Good\" style=\"background: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin: 0 5px;\">👍 Good</a>\n  <a href=\"mailto:{{ $vars.SUPPORT_EMAIL }}?subject=Feedback: Could be better\" style=\"background: #ffc107; color: black; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin: 0 5px;\">🤔 Could be better</a>\n</p>\n\n<p>Thank you for choosing {{ $vars.COMPANY_NAME }}!</p>\n\n<p>Best regards,<br>\nThe {{ $vars.COMPANY_NAME }} Team<br>\n<a href=\"{{ $vars.COMPANY_WEBSITE }}\">{{ $vars.COMPANY_WEBSITE }}</a></p>",
        "options": {
          "replyTo": "{{ $vars.SUPPORT_EMAIL }}"
        }
      },
      "id": "send-feedback-request",
      "name": "Send Feedback Request",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1780, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - New Support Emails": {
      "main": [
        [
          {
            "node": "Parse & Analyze Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Analyze Email": {
      "main": [
        [
          {
            "node": "Escalation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Decision": {
      "main": [
        [
          {
            "node": "Escalate to Human",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Response": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Reply": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human": {
      "main": [
        [
          {
            "node": "Send Escalation Acknowledgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Escalation Acknowledgment": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Wait 24 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24 Hours": {
      "main": [
        [
          {
            "node": "Send Feedback Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-20T10:30:00.000Z",
      "updatedAt": "2024-01-20T10:30:00.000Z",
      "id": "ai-automation",
      "name": "AI Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-20T10:30:00.000Z",
  "versionId": "1"
}
